---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			html, body {
			        margin: 0;
			        padding: 0;
			        height: 100%;
			        display: flex;
			        flex-direction: column;
			}
			main {
			        flex: 1; /* Ensures main expands to fill available space */
			        display: flex;
			        flex-direction: column;
			        justify-content: center;
			        align-items: center;
			        text-align: center;
			        min-height: 100vh; /* Prevents overflow */
				padding-top: 60px; /* Adjust based on the height of your header */
       				box-sizing: border-box; /* Prevents padding from affecting layout */
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1>Ben Sommers Design</h1>
			<p>
				See my work at <a href="https://stellarform.net">Stellarform</a>
			</p>
		</main>
		<Footer />
	</body>
</html>
