---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			html, body {
			        margin: 0;
			        padding: 0;
			        height: 100%;
			        display: flex;
			        flex-direction: column;
			}
			header {
			        margin: 0;
			        padding: 1em;
			        background: white;
			        box-shadow: 0 0px 0px rgba(var(--black), 5%);
			        position: sticky;
			        top: 0;
			        width: 100%;
			        z-index: 1000;
			    }
			
			    .content-wrapper {
			        flex: 1;
			        background: lightblue; /* Example background color */
			        display: flex;
			        flex-direction: column;
			        justify-content: flex-start; /* Ensures content starts from the top */
			        align-items: center;
			        text-align: center;
			        min-height: 100vh;
			        padding-top: 0; /* Ensures there's no padding pushing content down */
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<p style="height: 75px;"></p>

			<h2>Ben Sommers Design</h2>
			<p>
				See my work at <a href="https://stellarform.net">stellarform.net</a>
			</p>

			<p style="height: 75px;"></p>

		</main>
		<Footer />
	</body>
</html>
